openapi: 3.0.3
info:
  title: PDD Petty Cash API
  description: |
    REST API for the PDD Petty Cash (Travel Expense Management) app.
    See CLAUDE.md §9 for conventions: camelCase JSON, RFC 7807 errors, cursor pagination,
    Idempotency-Key required on POST /expenses, /transfers, /allocations.
  version: 0.1.0
servers:
  - url: https://api.pettycash.pdd.gov.ae/api/v1
    description: Production (Moro Hub) — placeholder
  - url: http://localhost:8080/api/v1
    description: Local Spring Boot

tags:
  - name: auth
  - name: trips
  - name: expenses
  - name: funds
  - name: chat
  - name: notifications
  - name: reports
  - name: receipts
  - name: categories
  - name: sources
  - name: users

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags: [auth]
      security: []
      summary: Exchange an OIDC authorization code for tokens (mock providers)
      description: |
        Two providers are accepted: `UAE_PASS` and `PDD_SSO`. The `code` field
        is currently ignored — both providers resolve to seeded test users.
        See CLAUDE.md §16 — replace with real UAE Pass / PDD SSO once credentials land.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthSession' }
        '401':
          $ref: '#/components/responses/Problem'
        '404':
          $ref: '#/components/responses/Problem'

  /auth/refresh:
    post:
      tags: [auth]
      security: []
      summary: Rotate refresh token, mint new access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthSession' }

  /me:
    get:
      tags: [users]
      summary: Current authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /trips:
    get:
      tags: [trips]
      summary: List trips visible to the caller
      parameters:
        - in: query
          name: status
          schema: { $ref: '#/components/schemas/TripStatus' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Trip' }
    post:
      tags: [trips]
      summary: Create a trip (Admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTripRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Trip' }

  /trips/{tripId}:
    get:
      tags: [trips]
      parameters: [{ $ref: '#/components/parameters/TripIdPath' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Trip' }

  /trips/{tripId}/close:
    patch:
      tags: [trips]
      summary: Close a trip (Admin only)
      parameters: [{ $ref: '#/components/parameters/TripIdPath' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Trip' }

  /trips/{tripId}/balances:
    get:
      tags: [trips]
      summary: Balances for the trip, scoped to caller / leader / trip-wide
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - in: query
          name: scope
          required: true
          schema:
            type: string
            enum: [me, trip, leader]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TripBalances' }

  /trips/{tripId}/expenses:
    get:
      tags: [expenses]
      summary: List expenses for a trip, cursor-paginated
      description: |
        Cursor pagination per CLAUDE.md §9. Rows ordered by
        `(occurredAt DESC, id DESC)`. To fetch subsequent pages, echo the
        `nextCursor` from the previous response back as the `cursor` query
        param. Cursor is opaque base64 — clients must not parse it.
        Returns `400 INVALID_CURSOR` on a malformed cursor.

        `limit` is clamped to [1, 100]; default 20.
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - in: query
          name: userId
          schema: { type: string }
        - in: query
          name: scope
          schema: { type: string, enum: [mine, all], default: all }
        - in: query
          name: cursor
          description: Opaque cursor from a previous page's `nextCursor`. Omit on first page.
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: categoryCode
          schema: { type: string }
        - in: query
          name: sourceId
          schema: { type: string }
        - in: query
          name: memberId
          schema: { type: string }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExpensePage' }
    post:
      tags: [expenses]
      summary: Create an expense (idempotent, client-supplied UUID)
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateExpenseRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Expense' }

  /trips/{tripId}/expenses/summary:
    get:
      tags: [expenses]
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - in: query
          name: scope
          required: true
          schema: { type: string, enum: [mine, all, user] }
        - in: query
          name: groupBy
          required: true
          schema: { type: string, enum: [category, source, member] }
        - in: query
          name: userId
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ExpenseSummaryRow' }

  /expenses/{expenseId}:
    get:
      tags: [expenses]
      parameters: [{ $ref: '#/components/parameters/ExpenseIdPath' }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Expense' }
    patch:
      tags: [expenses]
      parameters: [{ $ref: '#/components/parameters/ExpenseIdPath' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExpensePatch' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Expense' }

  /expenses/{expenseId}/source:
    patch:
      tags: [expenses]
      summary: Reassign source (audited event per CLAUDE.md §5)
      parameters: [{ $ref: '#/components/parameters/ExpenseIdPath' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sourceId]
              properties:
                sourceId: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Expense' }

  /expenses/{id}/receipt:
    post:
      tags: [expenses]
      summary: Upload a receipt photo to MinIO and link it to the expense
      description: |
        Multipart upload, single field `file`. Validates `image/jpeg` or
        `image/png`, max 8 MB. Stores at S3 key
        `receipts/{tripId}/{expenseId}/{uuid}.{ext}` and persists
        `expense.receiptObjectKey`. See CLAUDE.md §3, §7.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [receiptObjectKey]
                properties:
                  receiptObjectKey: { type: string }
        '400': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }
    get:
      tags: [expenses]
      summary: Get a 5-minute presigned URL to download the receipt
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url: { type: string, format: uri }
                  expiresAt: { type: string, format: date-time }
        '404': { $ref: '#/components/responses/Problem' }

  /receipts/scan:
    post:
      tags: [receipts]
      summary: OCR a receipt image and return a structured suggestion
      description: |
        Mocked in v1 — see CLAUDE.md §15 and `docs/architecture/ADR-005-ocr.md`.
        The response shape is contract-stable: real Tesseract impl will return
        the same fields. Mobile shows the result as a pre-fill with a yellow
        "please verify" disclaimer that never goes away.

        Image validation is identical to the receipt-upload endpoint:
        `image/jpeg` or `image/png`, max 8 MB.

        Pass `?tripId=...` to make the extracted amount currency match the trip.
      parameters:
        - in: query
          name: tripId
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReceiptScanResult' }
        '400': { $ref: '#/components/responses/Problem' }
        '401': { $ref: '#/components/responses/Problem' }

  /expenses/bulk:
    patch:
      tags: [expenses]
      summary: Bulk source reassignment (screen-inventory #25)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                required: [id, sourceId]
                properties:
                  id: { type: string }
                  sourceId: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Expense' }

  /trips/{tripId}/allocations:
    get:
      tags: [funds]
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - in: query
          name: groupBy
          schema: { type: string, enum: [member] }
        - in: query
          name: userId
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Allocation' }
    post:
      tags: [funds]
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [allocations]
              properties:
                allocations:
                  type: array
                  items: { $ref: '#/components/schemas/AllocationDraft' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Allocation' }

  /allocations/{allocationId}/respond:
    post:
      tags: [funds]
      parameters:
        - in: path
          name: allocationId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [ACCEPT, DECLINE] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }

  /trips/{tripId}/transfers:
    post:
      tags: [funds]
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTransferRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transfer' }

  /categories:
    get:
      tags: [categories]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ExpenseCategory' }
    post:
      tags: [categories]
      summary: Add a new category (Admin)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateCategoryRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExpenseCategory' }

  /sources:
    get:
      tags: [sources]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Source' }

  /chat/threads:
    get:
      tags: [chat]
      parameters:
        - in: query
          name: tripId
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ChatThread' }

  /chat/threads/{threadId}/messages:
    get:
      tags: [chat]
      parameters:
        - in: path
          name: threadId
          required: true
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ChatMessage' }
    post:
      tags: [chat]
      parameters:
        - in: path
          name: threadId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatMessage' }

  /chat/threads/{threadId}/poll:
    get:
      tags: [chat]
      summary: Long-poll for new messages in a chat thread
      description: |
        Returns immediately if any messages exist with `sentAt > since` for
        this thread. Otherwise hangs for up to `timeoutSeconds` (default 25,
        max 30) and resolves when a peer posts, or with an empty `items`
        array on timeout. Thread membership is enforced — non-participants
        get `403 FORBIDDEN`.

        Same single-instance caveat as `/notifications/poll`.
      parameters:
        - in: path
          name: threadId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: timeoutSeconds
          schema: { type: integer, default: 25, minimum: 1, maximum: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items, serverNow]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ChatMessage' }
                  serverNow:
                    type: string
                    format: date-time
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /notifications:
    get:
      tags: [notifications]
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Notification' }

  /notifications/poll:
    get:
      tags: [notifications]
      summary: Long-poll for new notifications
      description: |
        Returns immediately if any notifications exist with
        `createdAt > since` for the current user. Otherwise the request hangs
        as an async `DeferredResult` for up to `timeoutSeconds` (default 25,
        max 30) and resolves when a new notification is published, or with an
        empty `items` array on timeout.

        Send the response's `serverNow` back as the next call's `since` to
        avoid client clock skew bouncing the window.

        Single-instance fan-out only — horizontal scale will require Redis
        Pub/Sub or Postgres LISTEN/NOTIFY (out of scope for v1).
      parameters:
        - in: query
          name: since
          description: ISO-8601 timestamp; only notifications strictly after this are returned. Defaults to now − 30s.
          schema: { type: string, format: date-time }
        - in: query
          name: timeoutSeconds
          schema: { type: integer, default: 25, minimum: 1, maximum: 30 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items, serverNow]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Notification' }
                  serverNow:
                    type: string
                    format: date-time

  /notifications/{notificationId}/read:
    patch:
      tags: [notifications]
      parameters:
        - in: path
          name: notificationId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notification' }

  /notifications/{notificationId}/act:
    post:
      tags: [notifications]
      parameters:
        - in: path
          name: notificationId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [ACCEPT, DECLINE] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Notification' }

  /reports/trip/{tripId}:
    get:
      tags: [reports]
      summary: Generate a report and return a 5-minute presigned download URL
      description: |
        Renders the report server-side, uploads bytes to MinIO under
        `reports/{tripId}/{type}-{timestamp}.{ext}`, writes an `AuditLog`
        row with the file's SHA-256, and returns a presigned GET URL.

        Format gating per CLAUDE.md §10:
        - `USER` — XLSX or PDF
        - `TRIP` — XLSX only
        - `FINANCE` — PDF only; watermarked "DRAFT — unsigned" pending ADR-003
        - `DG` — PDF only

        Permissions (§7): USER → own (LEADER may fetch any team member),
        TRIP → LEADER (own trip) or ADMIN, FINANCE → ADMIN only,
        DG → SUPER_ADMIN only. Enforced at both controller and service.
      parameters:
        - { $ref: '#/components/parameters/TripIdPath' }
        - in: query
          name: type
          required: true
          schema: { type: string, enum: [USER, TRIP, FINANCE, DG] }
        - in: query
          name: format
          required: true
          schema: { type: string, enum: [XLSX, PDF] }
        - in: query
          name: userId
          description: Optional. Restricts USER/DG reports to a single user.
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [reportId, url, expiresAt, sha256]
                properties:
                  reportId: { type: string, format: uuid }
                  url:
                    type: string
                    description: Presigned GET URL valid for 5 minutes.
                  expiresAt: { type: string, format: date-time }
                  sha256: { type: string, description: SHA-256 hex of the bytes uploaded to MinIO. }
        '400': { $ref: '#/components/responses/Problem' }
        '403': { $ref: '#/components/responses/Problem' }
        '404': { $ref: '#/components/responses/Problem' }

  /reports/{reportId}/sign:
    post:
      tags: [reports]
      summary: Digitally sign a generated report (deferred — see ADR-003)
      description: |
        Signing is still deferred pending the PDD HSM key-custody decision.
        Endpoint returns `501 Not Implemented` with stable code
        `SIGNING_DEFERRED`. The contract is fixed so mobile can be wired
        against the final shape today.
      parameters:
        - in: path
          name: reportId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '501':
          description: Signing deferred
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
              examples:
                signingDeferred:
                  summary: SIGNING_DEFERRED (501)
                  value:
                    code: SIGNING_DEFERRED
                    detail: "Signing key custody pending — see ADR-003."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TripIdPath:
      in: path
      name: tripId
      required: true
      schema: { type: string }
    ExpenseIdPath:
      in: path
      name: expenseId
      required: true
      schema: { type: string }
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, format: uuid }

  responses:
    Problem:
      description: RFC 7807 problem details with a stable `code` field per CLAUDE.md §9.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
          examples:
            idempotencyKeyRequired:
              summary: IDEMPOTENCY_KEY_REQUIRED (400)
              value:
                type: https://api.pettycash.pdd.gov.ae/problems/idempotency_key_required
                title: Bad Request
                status: 400
                detail: "Header 'Idempotency-Key' is required on this endpoint"
                instance: /api/v1/trips/abc/expenses
                code: IDEMPOTENCY_KEY_REQUIRED
            idempotencyKeyConflict:
              summary: IDEMPOTENCY_KEY_CONFLICT (409)
              value:
                type: https://api.pettycash.pdd.gov.ae/problems/idempotency_key_conflict
                title: Conflict
                status: 409
                detail: "Idempotency-Key reused with a different request body"
                instance: /api/v1/trips/abc/expenses
                code: IDEMPOTENCY_KEY_CONFLICT
            reportDeferred:
              summary: REPORT_DEFERRED (501)
              value:
                type: https://api.pettycash.pdd.gov.ae/problems/report_deferred
                title: Not Implemented
                status: 501
                detail: "Server-side report generation pending — see CLAUDE.md §10."
                instance: /api/v1/reports/trip/abc
                code: REPORT_DEFERRED

  schemas:
    Money:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: integer
          format: int64
          description: Minor units (e.g. halalas for SAR, fils for AED)
        currency:
          type: string
          example: SAR

    Problem:
      type: object
      properties:
        type: { type: string }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }
        code: { type: string }

    AuthProvider:
      type: string
      enum: [UAE_PASS, PDD_SSO]
      description: |
        Identity provider. In v1 both are mock — see CLAUDE.md §16, ADR-002.

    LoginRequest:
      type: object
      required: [provider, code]
      properties:
        provider: { $ref: '#/components/schemas/AuthProvider' }
        code:
          type: string
          description: OIDC authorization code returned by the provider redirect.

    AuthSession:
      type: object
      required: [accessToken, refreshToken, user]
      properties:
        accessToken:
          type: string
          description: Short-lived JWT access token (15 min TTL per CLAUDE.md §3).
        refreshToken:
          type: string
          description: Opaque refresh token (14d TTL); rotated on every refresh.
        expiresIn:
          type: integer
          description: Access-token TTL in seconds.
        user: { $ref: '#/components/schemas/User' }

    UserRole:
      type: string
      enum: [MEMBER, LEADER, ADMIN, SUPER_ADMIN]

    User:
      type: object
      required: [id, username, displayName, displayNameAr, email, role, isActive]
      properties:
        id: { type: string }
        username: { type: string }
        displayName: { type: string }
        displayNameAr: { type: string }
        email: { type: string }
        role: { $ref: '#/components/schemas/UserRole' }
        isActive: { type: boolean }

    TripStatus:
      type: string
      enum: [DRAFT, ACTIVE, CLOSED]

    Trip:
      type: object
      required: [id, name, countryCode, currency, status, leaderId, memberIds, totalBudget]
      properties:
        id: { type: string }
        name: { type: string }
        countryCode: { type: string }
        countryName: { type: string }
        currency: { type: string }
        status: { $ref: '#/components/schemas/TripStatus' }
        createdBy: { type: string }
        leaderId: { type: string }
        memberIds:
          type: array
          items: { type: string }
        totalBudget: { $ref: '#/components/schemas/Money' }
        createdAt: { type: string, format: date-time }
        closedAt: { type: string, format: date-time }

    CreateTripRequest:
      type: object
      required: [name, countryCode, currency, leaderId, memberIds]
      properties:
        name: { type: string }
        countryCode: { type: string }
        currency: { type: string }
        leaderId: { type: string }
        memberIds:
          type: array
          items: { type: string }

    SourceBalance:
      type: object
      properties:
        sourceId: { type: string }
        sourceName: { type: string }
        sourceNameAr: { type: string }
        received: { $ref: '#/components/schemas/Money' }
        spent: { $ref: '#/components/schemas/Money' }
        balance: { $ref: '#/components/schemas/Money' }

    TripBalances:
      type: object
      properties:
        tripId: { type: string }
        scope: { type: string, enum: [me, trip, leader] }
        totalBudget: { $ref: '#/components/schemas/Money' }
        totalSpent: { $ref: '#/components/schemas/Money' }
        totalBalance: { $ref: '#/components/schemas/Money' }
        perSource:
          type: array
          items: { $ref: '#/components/schemas/SourceBalance' }

    Source:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        nameAr: { type: string }
        isActive: { type: boolean }

    ExpenseCategory:
      type: object
      properties:
        code: { type: string }
        nameEn: { type: string }
        nameAr: { type: string }
        iconKey: { type: string }
        isActive: { type: boolean }

    CreateCategoryRequest:
      type: object
      required: [code, nameEn, nameAr, iconKey]
      properties:
        code: { type: string }
        nameEn: { type: string }
        nameAr: { type: string }
        iconKey: { type: string }

    Expense:
      type: object
      properties:
        id: { type: string }
        tripId: { type: string }
        userId: { type: string }
        sourceId: { type: string }
        categoryCode: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        quantity: { type: integer, default: 1 }
        details: { type: string }
        vendor:
          type: string
          maxLength: 200
          description: Optional vendor / merchant name (free-text, ≤200 chars).
        occurredAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        receiptObjectKey: { type: string }

    ExpensePage:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Expense' }
        nextCursor: { type: string }

    CreateExpenseRequest:
      type: object
      required: [id, sourceId, categoryCode, amount, occurredAt]
      properties:
        id:
          type: string
          description: Client-supplied UUID; becomes the server-side Expense.id.
        sourceId: { type: string }
        categoryCode: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        quantity: { type: integer, default: 1 }
        details: { type: string }
        vendor:
          type: string
          maxLength: 200
        occurredAt: { type: string, format: date-time }
        receiptObjectKey: { type: string }

    ExpensePatch:
      type: object
      properties:
        sourceId: { type: string }
        categoryCode: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        details: { type: string }
        vendor:
          type: string
          maxLength: 200
        occurredAt: { type: string, format: date-time }

    ReceiptScanResult:
      type: object
      required: [vendor, amount, quantity, categoryHint, occurredAt, confidence, warning]
      properties:
        vendor: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        quantity: { type: integer }
        categoryHint:
          type: string
          description: Hint matching an ExpenseCategory.code (FOOD, TRANSPORT, …).
        occurredAt: { type: string, format: date-time }
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        warning:
          type: string
          description: Always populated. Mobile must show this verbatim.

    ExpenseSummaryRow:
      type: object
      properties:
        groupKey: { type: string }
        label: { type: string }
        amount: { $ref: '#/components/schemas/Money' }

    AllocationStatus:
      type: string
      enum: [PENDING, ACCEPTED, DECLINED]

    Allocation:
      type: object
      properties:
        id: { type: string }
        tripId: { type: string }
        fromUserId: { type: string, nullable: true }
        toUserId: { type: string }
        sourceId: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        status: { $ref: '#/components/schemas/AllocationStatus' }
        note: { type: string }
        createdAt: { type: string, format: date-time }
        respondedAt: { type: string, format: date-time }

    AllocationDraft:
      type: object
      required: [toUserId, sourceId, amount]
      properties:
        toUserId: { type: string }
        sourceId: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        note: { type: string }

    Transfer:
      type: object
      properties:
        id: { type: string }
        tripId: { type: string }
        fromUserId: { type: string }
        toUserId: { type: string }
        sourceId: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        status: { $ref: '#/components/schemas/AllocationStatus' }
        note: { type: string }
        createdAt: { type: string, format: date-time }
        respondedAt: { type: string, format: date-time }

    CreateTransferRequest:
      type: object
      required: [id, toUserId, sourceId, amount]
      properties:
        id: { type: string, description: 'Client-supplied UUID' }
        toUserId: { type: string }
        sourceId: { type: string }
        amount: { $ref: '#/components/schemas/Money' }
        note: { type: string }

    ChatThread:
      type: object
      properties:
        id: { type: string }
        tripId: { type: string }
        title: { type: string }
        titleAr: { type: string }
        participantIds:
          type: array
          items: { type: string }
        unreadCount: { type: integer }
        lastMessagePreview: { type: string }
        lastMessageAt: { type: string, format: date-time }

    ChatMessage:
      type: object
      properties:
        id: { type: string }
        threadId: { type: string }
        senderId: { type: string }
        body: { type: string }
        sentAt: { type: string, format: date-time }
        deliveredAt: { type: string, format: date-time }
        readAt: { type: string, format: date-time }

    NotificationType:
      type: string
      enum: [ALLOCATION_RECEIVED, TRANSFER_RECEIVED, TRANSFER_ACCEPTED, TRIP_ASSIGNED, TRIP_CLOSED, EXPENSE_QUERY]

    NotificationState:
      type: string
      enum: [UNREAD, READ, ACTED]

    Notification:
      type: object
      properties:
        id: { type: string }
        userId: { type: string }
        type: { $ref: '#/components/schemas/NotificationType' }
        payload:
          type: object
          additionalProperties: true
        actionable: { type: boolean }
        state: { $ref: '#/components/schemas/NotificationState' }
        createdAt: { type: string, format: date-time }
